#############
## Atmel Studio 6
#############
 
*.atsuo
*.d
*.eep
*.elf
*.lss
*.map
*.o
*.mk
Makefile
TcfTransactionLog.csv

Debug/
*.avrsuo
*.tmp
Thumbs.db

# LaTex temp files
*.aux
*.acn
*.glo
*.ist
*.lof
*.lot
*.syg
*.tdo
*.toc
*.xwm
*.log
*.bbl
*.blg
*.backup
